<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">팀포퐁은 모든 소통을 온라인으로 합니다.</h3>
            </div>
        </div>
        <div class="text-center">
            <a href="mailto:popong-dev@googlegroups.com" class="btn btn-xl">공개 메일링 리스트로 메일 보내기<br><small>(팀포퐁이 더 선호하는 채널)</small></a>
            <a href="mailto:contact@popong.com" class="btn btn-xl">운영팀한테만 비밀리에 연락하기<br><small>(답장이 조금 늦을 수 있어요)</small></a>
        </div>
    </div>
</section>
