body {
    word-break: keep-all;
}

p {
    font-size: 13pt;
}

header {
    color: #{{ site.color.secondary-dark }};
}

header .intro-text {
    padding-top: 200px;
}

header .intro-text .intro-heading {
    margin-bottom: 20px;
}

header .intro-text .intro-lead-in {
    font-family: sans-serif;
    font-style: normal;
    margin-bottom: 40px;
}

a.portfolio-link {
    background: white;
    height: 260px;
}

ul.social-buttons li a {
    background-color: rgba(53, 62, 72, .7);
    margin-bottom: 150px;
}

.logo {
    margin-top: -10px;
    max-width: 200px;
}

.navbar-default.navbar-shrink {
    background-color: rgba(53, 62, 72, .5);
}

#contact a.btn {
    margin: 30px;
    height: 90px;
}

#contact a.btn small {
    font-weight: normal;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    margin: 20px;
    text-align: left;
    top: 20%;
    width: initial;
}
